<!-- Constructions Section -->
<section id="constructions" class="constructions section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Our Projects</h2>
    <p>
      Our expertise spans diverse construction and engineering fields, ensuring
      the highest standards of quality and professionalism.
    </p>
    <p>Here&rsquo;s a glimpse of our recorded projects</p>
  </div>
  <!-- End Section Title -->

  <div class="container">
    <div class="row gy-4">
      <% projects.forEach(project => { %>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="card-item">
          <div class="row">
            <div class="col-xl-5">
              <div class="card-bg">
                <img
                  src="http://localhost:8088/uploads/pictures/<%= project.pictures[0].imageUrl %>"
                  alt=""
                />
              </div>
            </div>
            <div class="col-xl-7 d-flex align-items-center">
              <div class="card-body">
                <h4 class="card-title"><%= project.title %></h4>
                <p><%= stringLimiter(project.description, 200) %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% }) %>

      <!-- End Card Item -->
    </div>
  </div>
</section>
<!-- /Constructions Section -->
