<!-- Get Started Section -->
<section id="get-started" class="get-started section">
  <div class="container">
    <div class="row justify-content-between gy-4">
      <div
        class="col-lg-6 d-flex align-items-center"
        data-aos="zoom-out"
        data-aos-delay="100"
      >
        <div class="content">
          <h3>Transform your visions into reality</h3>
          <p>
            Whether you're planning a new building, renovating an existing
            structure, or seeking expert consultation for civil engineering
            projects, our team of skilled architects, engineers, and consultants
            is ready to bring your project to life.
          </p>
          <p>
            Contact us today for a consultation and let&rsquo;s discuss how we can make your project a success.
          </p>
        </div>
      </div>

      <!-- Quote form -->
      <%- include("../forms/quote") %>
      <!-- End Quote Form -->
    </div>
  </div>
</section>
<!-- /Get Started Section -->
