<!-- Testimonial Start -->
<div class="container-fluid testimonial overflow-hidden pb-5">
  <div class="container py-5">
    <div
      class="section-title text-center mb-5 wow fadeInUp"
      data-wow-delay="0.1s"
    >
      <div class="sub-style">
        <h5 class="sub-title text-primary px-3">OUR CLIENTS RIVIEWS</h5>
      </div>
      <h1 class="display-5 mb-4">What Our Clients Say</h1>
      <p class="mb-0">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
        deleniti amet at atque sequi quibusdam cumque itaque repudiandae
        temporibus, eius nam mollitia voluptas maxime veniam necessitatibus
        saepe in ab? Repellat!
      </p>
    </div>
    <div
      class="owl-carousel testimonial-carousel wow zoomInDown"
      data-wow-delay="0.2s"
    >
      <% testimonials.forEach(testimonial => { %>
      <div class="testimonial-item">
        <div class="testimonial-content p-4 mb-5">
          <p class="fs-5 mb-0"><%= testimonial.testimony %></p>
          <div class="d-flex justify-content-end">
            <i class="fas fa-star text-secondary"></i>
            <i class="fas fa-star text-secondary"></i>
            <i class="fas fa-star text-secondary"></i>
            <i class="fas fa-star text-secondary"></i>
            <i class="fas fa-star text-secondary"></i>
          </div>
        </div>
        <div class="d-flex">
          <div class="rounded-circle me-4" style="width: 100px; height: 100px">
            <img
              class="img-fluid rounded-circle"
              src="http://localhost:8088/uploads/testimonials/<%= testimonial.imageUrl %>"
              alt="img"
            />
          </div>
          <div class="my-auto">
            <h5><%= testimonial.personName %></h5>
            <p class="mb-0"><%= testimonial.profession %></p>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</div>
<!-- Testimonial End -->
