<!-- Training Start -->
<div class="container-fluid training overflow-hidden bg-light py-5">
  <div class="container py-5">
    <div
      class="section-title text-center mb-5 wow fadeInUp"
      data-wow-delay="0.1s"
    >
      <div class="sub-style">
        <h5 class="sub-title text-primary px-3">CHECK OUR TRAINING</h5>
      </div>
      <h1 class="display-5 mb-4">
        Get the Best Coacing Service Training with Our Travisa
      </h1>
      <p class="mb-0">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
        deleniti amet at atque sequi quibusdam cumque itaque repudiandae
        temporibus, eius nam mollitia voluptas maxime veniam necessitatibus
        saepe in ab? Repellat!
      </p>
    </div>
    <div class="row g-4">
      <% trainings.forEach(training => { %>
      <div
        class="col-lg-6 col-lg-6 col-xl-3 wow fadeInUp"
        data-wow-delay="0.1s"
      >
        <div class="training-item">
          <div class="training-inner">
            <img
              src="http://localhost:8088/uploads/trainings/<%= training.imageUrl %>"
              class="img-fluid w-100 rounded"
              alt="Image"
            />
            <div class="training-title-name">
              <a href="#" class="h4 text-white mb-0"><%= training.trainingName %></a>
              <!-- <a href="#" class="h4 text-white mb-0">Coaching</a> -->
            </div>
          </div>
          <div class="training-content bg-secondary rounded-bottom p-4">
            <a href="#"><h4 class="text-white"><%= training.trainingName %></h4></a>
            <p class="text-white-50">
              <%= training.description %>
            </p>
            <a class="btn btn-secondary rounded-pill text-white p-0" href="#"
              >Read More <i class="fa fa-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
      <% }); %>
      <div class="col-12 text-center">
        <a
          class="btn btn-primary border-secondary rounded-pill py-3 px-5 wow fadeInUp"
          data-wow-delay="0.1s"
          href="#"
          >View More</a
        >
      </div>
    </div>
  </div>
</div>
<!-- Training End -->
