<%- include("../../../layout/admin-header") %>

<main id="main" class="main">
  <%- include("../../../partials/admin/breadcrumb") %>
  <h1>Welcome to your Dashboard!</h1>
</main>

<%- include("../../../layout/admin-footer") %>
