<!-- <%- include("../layout/header") %> -->
<main>
  <div class="container mb-5">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h1 class="mb-4">Applicant Home</h1>
      </div>

      <div class="col-md-6 text-center">
        <p>
          Continue with the application process by following these simple steps:
        </p>
        <ol class="list-unstyled mb-5">
          <li>1. Register an account or log in if you already have one.</li>
          <li>2. Fill out the visa application form.</li>
          <li>3. Upload the required documents.</li>
          <li>4. Submit your application.</li>
          <li>5. Track the status of your application through your account.</li>
        </ol>
      </div>

      <div class="col-11 col-md-6">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Visa Application</h5>
            <p class="card-text">
              Please complete the visa application steps to ensure your files is
              accepted
            </p>
            <a href="/apply-personal-information" class="btn btn-primary">Complete Application</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include("../layout/footer") %>
