<%- include("../layout/header") %>

<main class="main">
  <!-- Page Title -->
  <div
    class="page-title dark-background"
    style="background-image: url(assets/img/page-title-bg.jpg)"
  >
    <div class="container position-relative">
      <h1>Projects</h1>
      <nav class="breadcrumbs">
        <ol>
          <li><a href="index.html">Home</a></li>
          <li class="current">Projects</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- End Page Title -->

  <!-- Project Start -->
  <%- include("../partials/home/project") %>
  <!-- Project End -->
</main>
<%- include("../layout/footer") %>
