<%- include("../layout/header") %>

<div class="container py-5">
  <div class="col-12 col-md-6 mx-md-auto card border-0 shadow p-5">
    <h1>Register</h1>
    <form action="/register" method="post">
      <div>
        <label for="fullName" class="form-label">Full Name:</label>
        <input
          type="text"
          id="fullName"
          name="fullName"
          class="form-control"
          required
          placeholder="full names"
        />
      </div>
      <div>
        <label for="username" class="form-label">Username:</label>
        <input
          type="text"
          id="username"
          name="username"
          class="form-control"
          required
          placeholder="username"
        />
      </div>
      <div>
        <label for="email" class="form-label">Email:</label>
        <input
          type="text"
          id="email"
          name="email"
          class="form-control"
          required
          placeholder="email"
        />
      </div>
      <div>
        <label for="password" class="form-label">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          required
          placeholder="********"
        />
      </div>
      <div>
        <label for="confirmPassword" class="form-label">confirmPassword:</label>
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          class="form-control"
          required
          placeholder="********"
        />
      </div>
      <!-- <div class="form-group">
        <label for="role" class="form-label">Role:</label>
        <select id="role" name="role" class="form-control">
          <option value="applicant">Applicant</option>
          <option value="officer">Officer</option>
          <option value="admin">Admin</option>
        </select>
      </div> -->
      <div class="d-flex justify-content-between align-items-center mt-3">
        <button type="submit" class="btn btn-primary d-block">Register</button>
        <p class="mt-2"><small>Already have an account?</small>
          <a href="/login" class="form-label">Login</a>
        </p>
      </div>
    </form>
  </div>
</div>

<%- include("../layout/footer") %>
 