<%- include("../layout/header") %>
<main>
  <!-- Header Start -->
  <%- include("../partials/header-block") %>
  <!-- Header End -->

  <!-- Testimonial Start -->
  <%- include("../partials/home/testimonial") %>
  <!-- Testimonial End -->
</main>

<%- include("../layout/footer") %>
