<%- include("../layout/header") %>
<main>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <h1 class="mb-4">Visa Application Process</h1>
        <p class="lead">
          Welcome to our Visa Application page! Here you can easily submit your
          visa application, upload necessary documents, and track the status of
          your application. Follow these simple steps:
        </p>
        <ol class="list-unstyled mb-5">
          <li>1. Register an account or log in if you already have one.</li>
          <li>2. Fill out the visa application form.</li>
          <li>3. Upload the required documents.</li>
          <li>4. Submit your application.</li>
          <li>5. Track the status of your application through your account.</li>
        </ol>
        <a href="/register" class="btn btn-primary btn-lg">Begin the process</a>
      </div>
    </div>
  </div>

  <!-- About Start -->
  <%- include("../partials/home/contact") %>
  <!-- About End -->
</main>

<%- include("../layout/footer") %>
