<%- include("../../layout/header") %>
<main>
  <div class="container py-5">
    <%- include("../../layout/navbar") %>
    <div class="col-12 col-md-10 mx-md-auto card border-0 shadow p-5">
      <h1 class="mb-3">Personal Information</h1>
      <pre><%= JSON.stringify(personalInfo) %> e</pre>
    </div>

    <div class="col-12 col-md-10 mx-md-auto card border-0 shadow p-5">
      <h1 class="mb-3">Travel Information</h1>
    
    </div>

    <div class="col-12 col-md-10 mx-md-auto card border-0 shadow p-5">
      <h1 class="mb-3">Employment Information</h1>
    
    </div>
  </div>
</main>

<%- include("../../layout/footer") %>
