<%- include("../../layout/header") %>
<main>
  <div class="container py-5">
    <div class="col-12 col-md-10 mx-md-auto card border-0 shadow p-5">
      <h1 class="mb-3">Personal Information</h1>
      <form action="/apply-health-information" method="post">
        <div class="form-group mb-3">
          <label for="medicalHistory">Medical History:</label>
          <input
            type="file"
            class="form-control"
            id="medicalHistory"
            name="medicalHistory"
            required
          />
        </div>
        <div class="form-group mb-3">
          <label for="vaccinationRecords"
            >Vaccination Records (if required):</label
          >
          <input
            type="file"
            class="form-control"
            id="vaccinationRecords"
            name="vaccinationRecords"
          />
        </div>
        <button type="submit" class="btn btn-primary">Next</button>
      </form>
    </div>
  </div>
</main>

<%- include("../../layout/footer") %>
