<%- include("../../layout/header") %>
<main>
  <div class="container py-5">
    <div class="col-12 col-md-10 mx-md-auto card border-0 shadow p-5">
      <h1>Security Information</h1>
      <form action="/apply-security-information" method="post">
        <div class="form-group mb-3">
          <label for="criminalRecord">Do you have any criminal record?</label>
          <select
            class="form-control"
            id="criminalRecord"
            name="criminalRecord"
            required
          >
            <option value="">Select</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>
        <div class="form-group mb-3">
          <label for="detailsOfCriminalRecord">If yes, provide details:</label>
          <textarea
            class="form-control"
            id="detailsOfCriminalRecord"
            name="detailsOfCriminalRecord"
            rows="3"
          ></textarea>
        </div>
        <div class="form-group mb-3">
          <label for="involvedInTerroristActivities"
            >Have you ever been involved in terrorist activities?</label
          >
          <select
            class="form-control"
            id="involvedInTerroristActivities"
            name="involvedInTerroristActivities"
            required
          >
            <option value="">Select</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>
        <div class="form-group mb-3">
          <label for="detailsOfTerroristActivities"
            >If yes, provide details:</label
          >
          <textarea
            class="form-control"
            id="detailsOfTerroristActivities"
            name="detailsOfTerroristActivities"
            rows="3"
          ></textarea>
        </div>
        <div class="form-group mb-3">
          <label for="involvedInHumanTrafficking"
            >Have you ever been involved in human trafficking?</label
          >
          <select
            class="form-control"
            id="involvedInHumanTrafficking"
            name="involvedInHumanTrafficking"
            required
          >
            <option value="">Select</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>
        <div class="form-group mb-3">
          <label for="detailsOfHumanTrafficking"
            >If yes, provide details:</label
          >
          <textarea
            class="form-control"
            id="detailsOfHumanTrafficking"
            name="detailsOfHumanTrafficking"
            rows="3"
          ></textarea>
        </div>
        <div class="form-group mb-3">
          <label for="otherSecurityConcerns"
            >Are there any other security concerns or issues that you need to
            declare?</label
          >
          <textarea
            class="form-control"
            id="otherSecurityConcerns"
            name="otherSecurityConcerns"
            rows="3"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Next</button>
      </form>
    </div>
  </div>
</main>

<%- include("../../layout/footer") %>
