<%- include("../../layout/header") %>
<main>
  <div class="container py-5">
    <div class="col-12 col-md-10 mx-md-auto card border-0 shadow p-5">
      <h1 class="mb-3">Previous Travel History</h1>
      <form action="/apply-travel-history" method="post" class="row">
        <div class="form-group">
          <label for="previousVisas">Previous Visas:</label>
          <textarea
            class="form-control"
            id="previousVisas"
            name="previousVisas"
            rows="3"
            required
          ></textarea>
        </div>
        <div class="form-group">
          <label for="travelHistory"
            >Travel History (countries visited in the past five years):</label
          >
          <textarea
            class="form-control"
            id="travelHistory"
            name="travelHistory"
            rows="3"
            required
          ></textarea>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-3">
          <button type="submit" class="btn btn-primary d-block">Next</button>
        </div>
      </form>
    </div>
  </div>
</main>

<%- include("../../layout/footer") %>
